Repository Enrique2115/nextjs-starter-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, stylelint --fix

chore: add GitHub workflows for PR labeling, stale issue management, and dependency updates
  .github/dependabot.yml
  .github/pr-scope-labeler.yml
  .github/workflows/pr-scope-label.yml
  .github/workflows/stale-issues-and-prs.yml
  .github/workflows/sync-labels.yml
Due: prettier --write

chore: add GitHub workflow to automatically assign PR authors
  .github/workflows/assigne-me.yml
Due: prettier --write

chore: update GitHub workflow to use auto-author-assign action for pull requests
  .github/workflows/assigne-me.yml
Due: prettier --write

chore: change pull_request_target to pull_request in assign me workflow
  .github/workflows/assigne-me.yml
Due: prettier --write

chore: add write permissions for pull requests in assign me workflow
  .github/workflows/assigne-me.yml
Due: prettier --write

chore: bump version to 1.0.1
  package.json
Due: prettier --write

feat: add utility functions and components for theming and UI elements
  .prettierrc
  components.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/home/contact.tsx
  src/components/home/features.tsx
  src/components/home/header.tsx
  src/components/home/main.tsx
  src/components/home/pricing.tsx
  src/components/home/toggle-theme.tsx
  src/components/shared/feature-card.tsx
  src/components/shared/price-card.tsx
  src/components/shared/responsive-carousel.tsx
  src/components/shared/section-header.tsx
  src/components/ui/alert.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/carousel.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/sheet.tsx
  src/components/ui/textarea.tsx
  src/lib/utils.ts
  src/providers/theme-provider.tsx
  src/tsconfig.json
  src/types/shared.tsx
  stylelint.config.mjs
  tsconfig.json
Due: prettier --write, eslint --fix, eslint, stylelint --fix

chore: bump version to 1.0.2
  package.json
Due: prettier --write

feat: add contact and hero images, update image components in home sections
  public/contact-us.webp
  public/hero.webp
  src/components/home/contact.tsx
  src/components/home/header.tsx
  src/components/home/main.tsx
Due: prettier --write, eslint --fix, eslint

chore: bump version to 1.0.3
  package.json
Due: prettier --write

feat: add GitHub Actions workflow to sync develop with master
  .github/workflows/sync-develop.yml
Due: prettier --write

chore: bump version to 1.0.4
  package.json
Due: prettier --write

fix: update GitHub Actions bot user configuration in sync-develop workflow
  .github/workflows/sync-develop.yml
Due: prettier --write

fix: update permissions and push command in sync-develop workflow
  .github/workflows/sync-develop.yml
Due: prettier --write

feat: add new UI components and authentication store; update .gitignore and package.json
  .gitignore
  components.json
  docs/ARCHITECTURE.md
  docs/MIGRATION_PLAN_HOME.md
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/components/home/contact.tsx
  src/components/ui/atoms/alert.tsx
  src/components/ui/atoms/button.tsx
  src/components/ui/atoms/card.tsx
  src/components/ui/atoms/carousel.tsx
  src/components/ui/atoms/dropdown-menu.tsx
  src/components/ui/atoms/input.tsx
  src/components/ui/atoms/label.tsx
  src/components/ui/atoms/sheet.tsx
  src/components/ui/atoms/textarea.tsx
  src/components/ui/atoms/toggle-theme.tsx
  src/components/ui/molecules/FeatureCard.tsx
  src/components/ui/molecules/PriceCard.tsx
  src/components/ui/molecules/auth/LoginForm.tsx
  src/components/ui/molecules/contact/ContactForm.tsx
  src/components/ui/molecules/home/SectionHeader.tsx
  src/components/ui/organisms/ResponsiveCarousel.tsx
  src/components/ui/organisms/home/ContactSection.tsx
  src/components/ui/organisms/home/FeatureSection.tsx
  src/components/ui/organisms/home/HeaderSection.tsx
  src/components/ui/organisms/home/HeroSection.tsx
  src/components/ui/organisms/home/PricingSection.tsx
  src/components/ui/templates/HomePageTemplate.tsx
  src/config/index.ts
  src/lib/security.ts
  src/modules/auth/services/auth.service.ts
  src/modules/auth/types/auth.types.ts
  src/modules/contact/types/contact.types.ts
  src/stores/auth.store.ts
Due: prettier --write, eslint --fix, eslint

chore: add conditional script tag for development environment in layout
  src/app/layout.tsx
Due: prettier --write, eslint --fix, eslint

feat: implement authentication flow with login and registration
  docs/MIGRATION_PLAN_HOME.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/(auth)/login/page.tsx
  src/app/layout.tsx
  src/components/ui/atoms/form.tsx
  src/components/ui/atoms/sonner.tsx
  src/components/ui/molecules/auth/LoginForm.tsx
  src/lib/axios.ts
  src/lib/security.ts
  src/modules/auth/hooks/useAuth.ts
  src/modules/auth/schema/auth.schema.ts
  src/modules/auth/services/auth.service.ts
  src/modules/auth/types/auth.types.ts
  src/providers/query-providers.tsx
  src/stores/auth.store.ts
Due: prettier --write, eslint --fix, eslint

feat: add contact form and hero section components; update Home page layout
  .gitignore
  components.json
  docs/ARCHITECTURE.md
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/components/home/contact.tsx
  src/components/ui/atoms/alert.tsx
  src/components/ui/atoms/button.tsx
  src/components/ui/atoms/card.tsx
  src/components/ui/atoms/carousel.tsx
  src/components/ui/atoms/dropdown-menu.tsx
  src/components/ui/atoms/form.tsx
  src/components/ui/atoms/input.tsx
  src/components/ui/atoms/label.tsx
  src/components/ui/atoms/sheet.tsx
  src/components/ui/atoms/textarea.tsx
  src/components/ui/atoms/toggle-theme.tsx
  src/components/ui/molecules/FeatureCard.tsx
  src/components/ui/molecules/PriceCard.tsx
  src/components/ui/molecules/contact/ContactForm.tsx
  src/components/ui/molecules/home/SectionHeader.tsx
  src/components/ui/organisms/ResponsiveCarousel.tsx
  src/components/ui/organisms/home/ContactSection.tsx
  src/components/ui/organisms/home/FeatureSection.tsx
  src/components/ui/organisms/home/HeaderSection.tsx
  src/components/ui/organisms/home/HeroSection.tsx
  src/components/ui/organisms/home/PricingSection.tsx
  src/components/ui/templates/HomePageTemplate.tsx
  src/modules/contact/schema/contact.schema.ts
  src/modules/contact/types/contact.types.ts
Due: prettier --write, eslint --fix, eslint

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,yaml,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
